In [6]:
# Covering Midterm Material Today.

In [46]:
# immutability
a = [50,1,2,3,4,5]
v = "nik"
def mutate(x):
 #   for i in range(0,len(x)):
  #      x[i] = 'b'

    var = []
    for i in x:
        var += [i]
    var.sort() 
    return (var)

In [47]:
print(v)
mutate(v)

nik

['i', 'k', 'n']

In [3]:
# lists

In [98]:
# conditionals 

a = 1
b = 2
c = 3
#print((a < b < c))
#print(( a < 1 ))
#print((c < b))
expr1 = (a < b < c)
expr2 = ( a < 1 )
expr3 = (c < b)
bool_var = expr1 and expr2 or expr3
print(bool_var)

False

In [99]:
names = ['nik','bob','rob','cob']

In [102]:

for i in range(0,len(names)):
    print(i)
    print(names[i])

0
nik
1
bob
2
rob
3
cob

In [106]:
for i in range(0,1):
    print(i)

0

In [107]:
i = 10

In [118]:
+ (- (+ i))

-10

In [127]:
nik10 = "nik"*10

In [131]:
a = [1,2,3,4]

In [136]:
a + [1,2,3,4]

[1, 2, 3, 4, 1, 2, 3, 4]

In [139]:
True == 1

True

In [141]:
1 and 1

1

In [142]:
(1,0) + (0,1)

(1, 0, 0, 1)

In [148]:
def blah():
    print(10)
    #return 10

In [149]:
x = blah()

10

In [150]:
x