In [ ]:
## Array 

b = [1,5,4,2,4,6,4]
a = [1,54,3,2]

# append
b = b + a

In [16]:
# sort

a = [" ","!","b","d","10","20"]
a.sort()
print(a)

TypeError: '<' not supported between instances of 'int' and 'str'

In [20]:
# pop

print(a)
a.pop(1) == 10
print(a)

['!', '20', 'b', 'd']
['!', 'b', 'd']

In [27]:
# index 
a.index('b')
a = [1,2,"b","c","b",True]
#print(a.index('b'))
#a.pop(a.index('b'))
#print(a.index('b'))

In [ ]:
# count
print(a.count(True))

True + True

In [ ]:
# reverse 

a.reverse()
#print(a.reverse[0])

# extend

In [46]:
# remove 
a = [1,2,1,1,1,3]
b = a.remove(1)
print(a)
a.remove(1)
print(a.pop(1))

[2, 1, 1, 1, 3]
1

In [49]:
# range 

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
## Loops and Conditionals 

line = ["Nik","Bob","Sarah","Kevin"]

# Nik get served because hes first. 

serve = line.pop(0)
#print(line)

# Stack 

# My Bed is unclean 
stack = ["blanket","clothes","macbook","coffee"]

#Clean my stack 
stack.reverse()
#for i in range(len(stack)):
    #print(stack[i])

# if 
a = 1

#if a == 10:
#    print("a is 10")

for i in range(100):
    print(i)
    if i == 20:
        break

In [71]:
Control = True
count = 0
while Control:
    count +=1
    print(count)
    if count == 100:
        Control = False;

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
# break
# for 
# while

In [84]:
## Splitting Using all above ^


database = "Name,Nik,Age,24,Year,1995,School,McMaster,POR,Hamilton"

result = database.split(',')


KeyArray = []
ValueArray = []


for i in range(len(result)):
    if i % 2 == 0:
        KeyArray += [result[i]]
        #print(result[i])
    else:
        ValueArray += [result[i]]
        
nameofPerson = ValueArray[KeyArray.index("POR")]
print(nameofPerson)
# split 
# using for 
# array splitting

Hamilton

In [90]:
for i in range(-10,-2):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [9]:
a.sort

In [88]:
range(100)

range(0, 100)